.products {
    display: grid;
    grid-template-columns: auto auto;
}

.heading {
    grid-column: span 2;
    text-align: center;
}

.subheading {
    grid-row: 3;
    text-align: center;
}

.results {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: span 2;
    margin-right: 20px;
    margin-left: 20px;
}

@media (min-width: 40em) {
    .products {
        display: grid;
        grid-template-columns: 15em auto;
    }
}

@media (min-width: 70em) {
    .products {
        display: block;
    }
    .results {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: span 2;
    }
    .filter-list {
        justify-content: flex-start;
    }
}

@media (min-width: 90em) {
    .results {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column: span 2;
    }
    .filter-list {
        justify-content: flex-start;
    }
}

.results dd {
    font-size: smaller;
}

.results button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: white;
    color: #000000;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.results button:hover,
button:focus {
    background: gray;
}

.pagination {
    grid-column: span 2;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    justify-content: center;
}

.pagination a {
    color: #000000;
}

.pagination li {
    display: inline;
    list-style: none;
}

.filters {
    grid-column: span 2;
    font-size: 14px;
    text-align: center;
    margin: 20px;
}

.filters fieldset {
    text-align: center;
    width: 100%;
    position: relative;
    font-size: 11px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.filters li {
    display: inline;
    list-style: none;
}