/* Note there a few "reset" styles given in reset.css. Review those before you begin */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    --pad-and-gap: 1em;
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* Preview each of these suggested resets before beginning your project styling */

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul,
ol,
dl {
    list-style: none;
    margin: 0;
    padding: 0;
}

li>ul,
li>ol {
    padding-left: 2.5em;
}

input,
button {
    margin: 0;
    font: inherit;
}

fieldset {
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    justify-content: center;
}

legend {
    padding: 0;
    border: none;
}


/* These will make "User agent stylesheet" values (Chrome) available when needed, using classes */

ul.ul {
    list-style-type: disc;
}

ol.ol {
    list-style-type: decimal;
}

ul.ul,
ol.ol {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 2.5em;
}

fieldset.fieldset {
    display: block;
    margin-inline-start: 0.125em;
    margin-inline-end: 0.125em;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 0.125em;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

legend.legend {
    display: block;
    padding-inline-start: 0.125em;
    padding-inline-end: 0.125em;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.logo {
    grid-column: 1;
    position: relative;
    padding-left: 28px;
    background: #1b1b1b;
}

.logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
}

.menu {
    overflow: hidden;
}

nav {
    grid-column: 3 span;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.menu {
    flex-direction: column;
    z-index: 1;
    background: #1b1b1b;
    position: relative;
}

.menu li {
    display: none;
}

.icon {
    grid-column: 4;
    position: relative;
    top: 20px;
    height: 24px;
    right: 12px;
    background-color: white;
    width: 20px;
}

.icon i {
    left: 3px;
    position: relative;
}

.menu.responsive li {
    float: none;
    display: grid;
    text-align: left;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 0;
}

@media (min-width: 70em) {
    nav ul li {
        margin: 0 5px;
    }
}

.page-header {
    height: auto;
    display: grid;
    background: #1b1b1b;
    grid-template-columns: auto 1fr auto auto;
}

.search {
    width: 100%;
    grid-row: 2;
    grid-column: span 4;
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    text-align: center;
    padding-bottom: 0.2rem;
    border-radius: 1rem;
    position: relative;
    margin: 0.5rem;
}

.search input {
    width: 90%;
}

.search button {
    background-color: none;
    text-decoration: none;
    display: inline-block;
}

@media (min-width: 70em) {
    .icon {
        display: none;
    }
    nav {
        grid-column: 3;
        padding: 0 50px 0 100px;
        margin-top: 10px;
    }
    .menu {
        overflow: hidden;
        flex-direction: row;
        z-index: 1;
        position: relative;
        top: 0px;
        right: 0px;
        width: auto;
        padding-left: 0px;
        margin-left: 0px;
    }
    .menu li {
        display: flex;
    }
}

nav ul li a {
    display: flex;
    color: #f2f2f2 !important;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #111 !important;
    background: #fff;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    margin-left: 8px;
}
